src/Efima.IL/LogicAppsTemplates/handler-func-fetch-template.json
{
	"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"IntegrationGroup": {
			"type": "string",
			"minLength": 1
		},
		"IntegrationGroupShort": {
			"type": "string"
		},
		"SharedCustomerGroup": {
			"type": "string"
		},
		"IntegrationName": {
			"type": "string"
		},
		"Tier": {
			"type": "string",
			"minLength": 1
		},
		"CustomerId": {
			"type": "string"
		},
		"ConnectionCustomerGroup": {
			"type": "string"
		},
		"ConnectionFunction": {
			"type": "string"
		},
		"IntegrationPartitionKey": {
			"type": "string",
			"defaultValue": "Orchestration"
		},
		"BlobContainerPrefix": {
			"defaultValue": "orchestration",
			"type": "string"
		},
		"LogicAppName": {
			"type": "string",
			"defaultValue": "handler"
		},
		"LogicAppState": {
			"type": "string",
			"defaultValue": "Enabled"
		},
		"NextLogicApp": {
			"defaultValue": "process",
			"type": "string"
		}
	},
	"variables": {
		"LogicAppName": "[concat('la-', parameters('CustomerId'), '-', parameters('IntegrationName'), '-', parameters('LogicAppName'), '-', parameters('Tier'))]",
		"IdentityName": "[concat('id-', parameters('CustomerId'), '-', parameters('IntegrationGroup'), '-', parameters('Tier'))]",
		"ConnectionResourceGroupName": "[concat('rg-', parameters('ConnectionCustomerGroup'), '-', parameters('Tier'))]",
		"ConnectionFunctionAppName": "[concat('func-', parameters('ConnectionCustomerGroup'), '-', parameters('Tier'))]",
		"KeyvaultName": "[concat('kv-', parameters('CustomerId'), '-', parameters('IntegrationGroupShort'), '-', parameters('Tier'))]",
		"SharedResourceGroupName": "[concat('rg-', parameters('SharedCustomerGroup'), '-', parameters('Tier'))]",
		"LogAnalyticsWorkspaceName": "[concat('log-', parameters('SharedCustomerGroup'), '-', parameters('Tier'))]",
		"ArchiverLogicAppName": "[concat('la-', parameters('SharedCustomerGroup'), '-archiver-', parameters('Tier'))]",
		"NextLogicAppName": "[concat('la-', parameters('CustomerId'), '-', parameters('IntegrationName'), '-', parameters('NextLogicApp'), '-', parameters('Tier'))]"
	},
	"resources": [
		{
			"properties": {
				"accessControl": {
					"triggers": {
						"allowedCallerIpAddresses": []
					},
					"actions": {
						"allowedCallerIpAddresses": []
					}
				},
				"state": "[parameters('LogicAppState')]",
				"definition": {
					"$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
					"actions": {
						"Fetch_records": {
							"description": "[format('Call {0} function.', parameters('ConnectionFunction'))]",
							"inputs": {
								"body": "@triggerBody()['Input']",
								"function": {
									"id": "[resourceId(variables('ConnectionResourceGroupName'), 'Microsoft.Web/sites/functions', variables('ConnectionFunctionAppName'), parameters('ConnectionFunction'))]"
								}
							},
							"runAfter": {},
							"type": "Function"
						},
						"Condition": {
							"actions": {},
							"runAfter": {
								"Fetch_records": [
									"Succeeded"
								]
							},
							"else": {
								"actions": {
									"Terminate_Success": {
										"type": "Terminate",
										"inputs": {
											"runStatus": "Succeeded"
										}
									}
								}
							},
							"expression": {
								"and": [
									{
										"greater": [
											"@int(outputs('Fetch_records')['headers']['Content-Length'])",
											2
										]
									}
								]
							},
							"type": "If"
						},
						"Process": {
							"inputs": {
								"body": {
									"Input": "@body('Fetch_records')",
									"Parameters": "@triggerBody()?['Parameters']"
								},
								"host": {
									"triggerName": "manual",
									"workflow": {
										"id": "[resourceId('Microsoft.Logic/workflows', variables('NextLogicAppName'))]"
									}
								},
								"retryPolicy": {
									"type": "none"
								}
							},
							"runAfter": {
								"Condition": [
									"Succeeded"
								]
							},
							"type": "Workflow"
						},
						"Condition_Archive_Success": {
							"actions": {
								"Archive_Success": {
									"inputs": {
										"body": {
											"Input": "@actions('Process').inputs.body.Input",
											"Output": "@body('Process')",
											"ArchiveInputEnabled": "[format('@triggerBody()[''Parameters''][''{0}''][''ArchiveInputEnabled'']', parameters('IntegrationPartitionKey'))]",
											"ArchiveOutputEnabled": "[format('@triggerBody()[''Parameters''][''{0}''][''ArchiveOutputEnabled'']', parameters('IntegrationPartitionKey'))]",
											"Container": "[format('@{{coalesce(triggerBody()[''Parameters''][''{0}'']?[''ContainerPrefix''], ''{1}'')}}-success', parameters('IntegrationPartitionKey'), parameters('BlobContainerPrefix'))]",
											"KeyvaultName": "[format('@coalesce(triggerBody()[''Parameters''][''{0}'']?[''KeyvaultName''], ''{1}'')', parameters('IntegrationPartitionKey'), variables('KeyvaultName'))]"
										},
										"host": {
											"triggerName": "manual",
											"workflow": {
												"id": "[resourceId(variables('SharedResourceGroupName'), 'Microsoft.Logic/workflows', variables('ArchiverLogicAppName'))]"
											}
										}
									},
									"type": "Workflow"
								}
							},
							"else": {
								"actions": {}
							},
							"expression": {
								"or": [
									{
										"equals": [
											"[format('@triggerBody()[''Parameters''][''{0}''][''ArchiveInputEnabled'']', parameters('IntegrationPartitionKey'))]",
											true
										]
									},
									{
										"equals": [
											"[format('@triggerBody()[''Parameters''][''{0}''][''ArchiveOutputEnabled'']', parameters('IntegrationPartitionKey'))]",
											true
										]
									}
								]
							},
							"runAfter": {
								"Process": [
									"Succeeded"
								]
							},
							"type": "If"
						},
						"Condition_Archive_Failure": {
							"actions": {
								"Archive_Failure": {
									"inputs": {
										"body": {
											"Input": "@actions('Process').inputs.body.Input",
											"Output": "@body('Process')",
											"ArchiveInputEnabled": "[format('@triggerBody()[''Parameters''][''{0}''][''ArchiveInputOnErrorEnabled'']', parameters('IntegrationPartitionKey'))]",
											"ArchiveOutputEnabled": "[format('@triggerBody()[''Parameters''][''{0}''][''ArchiveOutputOnErrorEnabled'']', parameters('IntegrationPartitionKey'))]",
											"Container": "[format('@{{coalesce(triggerBody()[''Parameters''][''{0}'']?[''ContainerPrefix''], ''{1}'')}}-failure', parameters('IntegrationPartitionKey'), parameters('BlobContainerPrefix'))]",
											"KeyvaultName": "[format('@coalesce(triggerBody()[''Parameters''][''{0}'']?[''KeyvaultName''], ''{1}'')', parameters('IntegrationPartitionKey'), variables('KeyvaultName'))]"
										},
										"host": {
											"triggerName": "manual",
											"workflow": {
												"id": "[resourceId(variables('SharedResourceGroupName'), 'Microsoft.Logic/workflows', variables('ArchiverLogicAppName'))]"
											}
										}
									},
									"type": "Workflow"
								}
							},
							"else": {
								"actions": {}
							},
							"expression": {
								"or": [
									{
										"equals": [
											"[format('@triggerBody()[''Parameters''][''{0}''][''ArchiveInputOnErrorEnabled'']', parameters('IntegrationPartitionKey'))]",
											true
										]
									},
									{
										"equals": [
											"[format('@triggerBody()[''Parameters''][''{0}''][''ArchiveOutputOnErrorEnabled'']', parameters('IntegrationPartitionKey'))]",
											true
										]
									}
								]
							},
							"runAfter": {
								"Process": [
									"Failed",
									"TimedOut"
								]
							},
							"type": "If"
						},
						"Terminate2": {
							"inputs": {
								"runError": {
									"code": "@outputs('Process')?['statusCode']",
									"message": "@coalesce(body('Process')?['message'], slice(string(body('Process')), 0, 500))"
								},
								"runStatus": "Failed"
							},
							"runAfter": {
								"Condition_Archive_Failure": [
									"Succeeded"
								]
							},
							"type": "Terminate"
						},
						"Terminate": {
							"inputs": {
								"runError": {
									"code": "@outputs('Fetch_records')?['statusCode']",
									"message": "@coalesce(body('Fetch_records')?['message'], slice(string(body('Fetch_records')), 0, 500))"
								},
								"runStatus": "Failed"
							},
							"runAfter": {
								"Fetch_records": [
									"Failed"
								]
							},
							"type": "Terminate"
						}
					},
					"contentVersion": "1.0.0.0",
					"outputs": {},
					"parameters": {
						"$connections": {
							"defaultValue": {},
							"type": "Object"
						}
					},
					"triggers": {
						"manual": {
							"inputs": {
								"schema": {
									"items": {
										"properties": {
											"Input": {
												"type": "object"
											},
											"Parameters": {
												"properties": {
													"[parameters('IntegrationPartitionKey')]": {
														"properties": {
															"ArchiveInputEnabled": {
																"type": "boolean"
															},
															"ArchiveOutputEnabled": {
																"type": "boolean"
															},
															"ArchiveInputOnErrorEnabled": {
																"type": "boolean"
															},
															"ArchiveOutputOnErrorEnabled": {
																"type": "boolean"
															}
														},
														"type": "object"
													}
												},
												"type": "object"
											}
										},
										"required": [
											"Input",
											"Parameters"
										],
										"type": "object"
									},
									"type": "array"
								}
							},
							"kind": "Http",
							"splitOn": "@triggerBody()",
							"type": "Request",
							"operationOptions": "EnableSchemaValidation"
						}
					}
				},
				"parameters": {}
			},
			"name": "[variables('LogicAppName')]",
			"type": "Microsoft.Logic/workflows",
			"location": "[resourceGroup().location]",
			"tags": {
				"displayName": "LogicApp"
			},
			"resources": [
				{
					"type": "providers/diagnosticSettings",
					"name": "[concat('Microsoft.Insights/', variables('LogAnalyticsWorkspaceName'))]",
					"dependsOn": [
						"[variables('LogicAppName')]"
					],
					"location": "[resourceGroup().location]",
					"apiVersion": "2017-05-01-preview",
					"properties": {
						"name": "[variables('LogAnalyticsWorkspaceName')]",
						"workspaceId": "[resourceId(variables('SharedResourceGroupName'), 'Microsoft.OperationalInsights/workspaces/', variables('LogAnalyticsWorkspaceName'))]",
						"logs": [
							{
								"category": "WorkflowRuntime",
								"enabled": true,
								"retentionPolicy": {
									"days": 0,
									"enabled": false
								}
							}
						],
						"metrics": [
							{
								"category": "AllMetrics",
								"enabled": false,
								"retentionPolicy": {
									"days": 0,
									"enabled": false
								}
							}
						]
					}
				}
			],
			"identity": {
				"type": "UserAssigned",
				"userAssignedIdentities": {
					"[resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', variables('IdentityName'))]": {}
				}
			},
			"apiVersion": "2017-07-01"
		}
	],
	"outputs": {}
}
