src/Efima.IL/LogicAppsTemplates/starter-sftp-template.json
{
	"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"IntegrationGroup": {
			"type": "string",
			"minLength": 1
		},
		"IntegrationGroupShort": {
			"type": "string"
		},
		"SharedCustomerGroup": {
			"type": "string"
		},
		"IntegrationName": {
			"type": "string"
		},
		"Tier": {
			"type": "string",
			"minLength": 1
		},
		"CustomerId": {
			"type": "string"
		},
		"ConnectionCustomerGroup": {
			"type": "string"
		},
		"ConnectionFunction": {
			"type": "string",
			"defaultValue": "SftpListFileNames"
		},
		"ConnectionPartitionKey": {
			"type": "string",
			"defaultValue": "SFTP"
		},
		"IntegrationPartitionKey": {
			"type": "string",
			"defaultValue": "Orchestration"
		},
		"PasswordSecret": {
			"type": "string",
			"defaultValue": "SftpPassword"
		},
		"LogicAppName": {
			"type": "string",
			"defaultValue": "starter"
		},
		"LogicAppState": {
			"type": "string",
			"defaultValue": "Enabled"
		},
		"NextLogicApp": {
			"defaultValue": "handler",
			"type": "string"
		}
	},
	"variables": {
		"LogicAppName": "[concat('la-', parameters('CustomerId'), '-', parameters('IntegrationName'), '-', parameters('LogicAppName'), '-', parameters('Tier'))]",
		"IdentityName": "[concat('id-', parameters('CustomerId'), '-', parameters('IntegrationGroup'), '-', parameters('Tier'))]",
		"ConnectionResourceGroupName": "[concat('rg-', parameters('ConnectionCustomerGroup'), '-', parameters('Tier'))]",
		"ConnectionFunctionAppName": "[concat('func-', parameters('ConnectionCustomerGroup'), '-sftp-', parameters('Tier'))]",
		"KeyvaultName": "[concat('kv-', parameters('CustomerId'), '-', parameters('IntegrationGroupShort'), '-', parameters('Tier'))]",
		"SharedResourceGroupName": "[concat('rg-', parameters('SharedCustomerGroup'), '-', parameters('Tier'))]",
		"PasswordSecret": "[if(empty(parameters('PasswordSecret')), format('triggerBody()[''Parameters''][''{0}''][''Username'']', parameters('ConnectionPartitionKey')), format('''{0}''', parameters('PasswordSecret')))]",
		"LogAnalyticsWorkspaceName": "[concat('log-', parameters('SharedCustomerGroup'), '-', parameters('Tier'))]",
		"NextLogicAppName": "[concat('la-', parameters('CustomerId'), '-', parameters('IntegrationName'), '-', parameters('NextLogicApp'), '-', parameters('Tier'))]"
	},
	"resources": [
		{
			"properties": {
				"accessControl": {
					"triggers": {
						"allowedCallerIpAddresses": []
					},
					"actions": {
						"allowedCallerIpAddresses": []
					}
				},
				"state": "[parameters('LogicAppState')]",
				"definition": {
					"$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
					"actions": {
						"Condition_-_files_found": {
							"actions": {
								"Select": {
									"inputs": {
										"from": "@body('SftpListFileNames')",
										"select": {
											"Filename": "@item()",
											"Folder": "@triggerBody()?['Folder']",
											"TransferName": "[parameters('IntegrationName')]",
											"Parameters": "@triggerBody()['Parameters']"
										}
									},
									"runAfter": {},
									"type": "Select"
								},
								"Handler": {
									"inputs": {
										"body": "@body('Select')",
										"host": {
											"triggerName": "manual",
											"workflow": {
												"id": "[resourceId('Microsoft.Logic/workflows', variables('NextLogicAppName'))]"
											}
										}
									},
									"runAfter": {
										"Select": [
											"Succeeded"
										]
									},
									"type": "Workflow"
								}
							},
							"expression": {
								"and": [
									{
										"greaterOrEquals": [
											"@length(body('SftpListFileNames'))",
											1
										]
									}
								]
							},
							"runAfter": {
								"SftpListFileNames": [
									"Succeeded"
								]
							},
							"type": "If"
						},
						"SftpListFileNames": {
							"description": "List file names function",
							"inputs": {
								"body": {
									"FileEncoding": "",
									"FilePrefixes": "[format('@triggerBody()[''Parameters''][''{0}'']?[''FilePrefixes'']', parameters('ConnectionPartitionKey'))]",
									"Folder": "[format('@coalesce(triggerBody()?[''Folder''], triggerBody()[''Parameters''][''{0}'']?[''Folder''])', parameters('ConnectionPartitionKey'))]",
									"KeyvaultName": "[format('@coalesce(triggerBody()[''Parameters''][''{0}'']?[''KeyvaultName''], ''{1}'')', parameters('ConnectionPartitionKey'), variables('KeyvaultName'))]",
									"Port": "[format('@coalesce(triggerBody()[''Parameters''][''{0}'']?[''Port''], 22)', parameters('ConnectionPartitionKey'))]",
									"PrivateKeyFormat": null,
									"PrivateKeyPassphraseSecret": "",
									"PrivateKeySecret": "",
									"TransferName": "[parameters('IntegrationName')]",
									"Host": "[format('@triggerBody()[''Parameters''][''{0}''][''Host'']', parameters('ConnectionPartitionKey'))]",
									"Username": "[format('@coalesce(triggerBody()?[''Username''], triggerBody()[''Parameters''][''{0}'']?[''Username''])', parameters('ConnectionPartitionKey'))]",
									"PasswordSecret": "[format('@coalesce(triggerBody()[''Parameters''][''{0}'']?[''PasswordSecret''], {1})', parameters('ConnectionPartitionKey'), variables('PasswordSecret'))]"
								},
								"function": {
									"id": "[resourceId(variables('ConnectionResourceGroupName'), 'Microsoft.Web/sites/functions', variables('ConnectionFunctionAppName'), parameters('ConnectionFunction'))]"
								}
							},
							"runAfter": {},
							"type": "Function"
						},
						"Terminate": {
							"inputs": {
								"runError": {
									"code": "@outputs('SftpListFileNames')?['statusCode']",
									"message": "@coalesce(body('SftpListFileNames')?['message'], slice(string(body('SftpListFileNames')), 0, 500))"
								},
								"runStatus": "Failed"
							},
							"runAfter": {
								"SftpListFileNames": [
									"Failed"
								]
							},
							"type": "Terminate"
						}
					},
					"contentVersion": "1.0.0.0",
					"outputs": {},
					"parameters": {
						"$connections": {
							"defaultValue": {},
							"type": "Object"
						}
					},
					"triggers": {
						"manual": {
							"inputs": {
								"schema": {
									"items": {
										"properties": {
											"Folder": {
												"type": "string"
											},
											"Parameters": {
												"type": "object"
											}
										},
										"required": [
											"Parameters"
										],
										"type": "object"
									},
									"type": "array"
								}
							},
							"kind": "Http",
							"splitOn": "@triggerBody()",
							"type": "Request",
							"operationOptions": "EnableSchemaValidation"
						}
					}
				},
				"parameters": {}
			},
			"name": "[variables('LogicAppName')]",
			"type": "Microsoft.Logic/workflows",
			"location": "[resourceGroup().location]",
			"tags": {
				"displayName": "LogicApp"
			},
			"resources": [
				{
					"type": "providers/diagnosticSettings",
					"name": "[concat('Microsoft.Insights/', variables('LogAnalyticsWorkspaceName'))]",
					"dependsOn": [
						"[variables('LogicAppName')]"
					],
					"location": "[resourceGroup().location]",
					"apiVersion": "2017-05-01-preview",
					"properties": {
						"name": "[variables('LogAnalyticsWorkspaceName')]",
						"workspaceId": "[resourceId(variables('SharedResourceGroupName'), 'Microsoft.OperationalInsights/workspaces/', variables('LogAnalyticsWorkspaceName'))]",
						"logs": [
							{
								"category": "WorkflowRuntime",
								"enabled": true,
								"retentionPolicy": {
									"days": 0,
									"enabled": false
								}
							}
						],
						"metrics": [
							{
								"category": "AllMetrics",
								"enabled": false,
								"retentionPolicy": {
									"days": 0,
									"enabled": false
								}
							}
						]
					}
				}
			],
			"identity": {
				"type": "UserAssigned",
				"userAssignedIdentities": {
					"[resourceId('Microsoft.ManagedIdentity/userAssignedIdentities', variables('IdentityName'))]": {}
				}
			},
			"apiVersion": "2017-07-01"
		}
	],
	"outputs": {}
}
